/* src/index.css */

/* Sirf yeh teen lines rahne den.
   Yeh Tailwind ko browser ki default styling ko reset karne aur 
   aapke component ki classes ko theek se apply karne denge.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;